:root{
    --primary-color:  #23A6F0;
    --secondry-color:#737373;
    --primarytext-color: #252B42;
    --background-color:#ffff;
    --drop-color: #89b2c4;
}
@media only screen and (max-width: 1024px) {
   
    .container{
        padding: 0px 25px;
    }
    .hero_imgbar img{
        width: 350px;
        padding: 0 0 0 15px;

    }
    .sub_dropdown{
        left: 130px;
    }
    .drop_down{
        /* visibility: none; */
    }
    .hero_bar{
        justify-content: space-between;
    }
    .section_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .section_column{
        width: 341px;
    }
    .pricing_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar_list{
        justify-content: space-around;
    }
    .btn{
        padding: 10px;
    }
    a{
        font-size: 12px;
    }
    
    h3{
        font-size: 18px;
    }
    h1{
        font-size: 37px;
    }
    .brands{
        gap: 20px;
        padding: 5px;
        justify-content: center;
    }
    .brands img{
        max-width: 70%;
    }
    .brands img:nth-child(1){
        max-width: 100%;
    }
    .pricing_outerline{
        margin: 10px;
    }
    .main_component{
        gap: 20px;
    }
    .component_img img{
        width: 350px;
    }
    .navbar_list ul li a{
        padding: 3px 8px;
    }
    .company_info h5{
        font-size: 13px;
    }
    .footer_tale h6{
        font-size: 10px;
    }
    .appointment_row{
        gap:10px;
    }

  }
@media only screen and (max-width: 768px) {
    .container{
        width: 95%;
        padding: 0px;

    }
    .container_lg{
        width: 100%;
        padding: 0px;

    }
    .navbar_list{
        width: 70%;
        display: contents;
    }
    .navbar_list label{
        display: block;
        padding: 0px 20px;
    }
    .navbar{
        display: flex;
        align-items: center;
        padding: 13px;
        position: fixed;
        background-color: #ecf4ff;
        width: 100%;
        z-index: 1;
    }
    .drop_list{
        position: absolute;
        left: 0%;
        top: -385px;
        
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:  #ecf4ff;
        box-shadow: 0px 13px 20px 0px #00000012;
        align-items:center;
        justify-content: center;
        transition:all 0.2s ease-in-out;
        visibility: hidden;
        padding: 0px 0px 10px 0px;
        
    }
    .drop_menu{
        display: flex;
        flex-direction: column;
        background-color:  #ecf4ff;
        justify-content: center;
        /* position: absolute; */
        gap: 5px;
        align-items: flex-start;
        visibility: visible;
    }
    
  
    #checking{
        display: none;
    }
    #checking:checked ~  .drop_list{
        visibility: visible;
        top: 40px;
       
    }
    #checking:checked ~ label i::before{
        content:'\f00d' ;
    }
    .checking_bar span{
        color: var(--primarytext-color);
    }
    .checking_bar a{
       padding: 0;
    }
    .in_btns{
        display: flex;

    }
    .in_btns a{
        gap: 4px;
    }
    .in_btns a i{
        font-size: 13px;
    }
    .nav_btn{
        display: none;
    }
    
    .drop_list span{
        display: block;
    }
    .navbar_list i{
        display: block;
    }
    .drop_menu .drp_icon{
        display: block;
    }
    .pricing_row{
        gap: 50px;
    }
    .circle_margin{
        bottom: 695px;
        left: 195px;
    }
    .drop_down{
        width: 129px;
        transition:all  0.5s ease-in-out;
        position: relative;
        background-color:  #ecf4ff;
        top: -17px;
        display: none;
        visibility: visible;
        left: 0px;
    }
    .sub_dropdown{
        width: 129px;
        background-color:  #ecf4ff;
        transition:all  0.5s ease-in-out;
        position: relative;
        top: 0px;
        display: none;
        visibility: visible;
        
        left: 0px;
    }
    
    .checking_bar{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        left: 30px;
    }
    .checked_bar{
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }
    .checked_bar  .ck_icn{
        display: flex;
        color: var(--primarytext-color);
    }

    #checked{
        display: none;
    }
    #checked:checked~ .sub_dropdown{
        display: block;
        left: 0px;
        background-color:  #ecf4ff;
        width: 100%;
    }
    #check{
        display: none;
    }
    #check:checked~ .drop_down{
        display:block ;
        flex-direction: column;
        top: 0px;
        width:100% ;
        background-color:  #ecf4ff;
        left: 0px;
        box-shadow: none;
        
    }
    .drop_menu{
        box-shadow: 0px 13px 19px 0px #00000012;

    }
    .drop_menu li{
        box-shadow: 0px 13px 19px 0px #00000012;
    }
    .icn_lg a{
        gap: 0px;
    }
    .drop_menu a{
        padding: 0;
    }
    .drop_list label{
        padding: 0;
    }
    .icn_lg  .drop_arrow{
        display: none;
    }
    .icn_lg .drop_down{
        display: none;
    }
    .cotact_icon{
        display: block;
    }
        
        
       
    
    li .drop_down li a{
        font-size: 11px;
        color:var(--primarytext-color);
        
    }
    
   
     
    .drop_down span{
        display: none;
    } 
    .in_btns .arrow{
        display: none;
    }
    .drop_list .bar_icon{
        font-size: 15px;
    }
    li a:hover{
        box-shadow: none;
    }
   
    
    .navbar li{
        padding: 0px;
        margin: 0;
        width: 100%;
    }
    .navbar li a{
        font-size: 12px;
        color: black;
        gap: 5px;
        
    }
    li .btn{
        margin: 0px 0px 0px 10px;
        padding: 10px;
        font-size: 12px
    }
    .hero_bar{
        justify-content: center;
    }
    .hero_imgbar img{
        display: none;
    }
    .hero_btns{
        margin-bottom: 60px;
        justify-content: center;
    }
    
    h4{
        font-size: 14px;
        text-align: center;
    }
    h3{
        font-size: 18px;
    }
    .hero_textbar h5{
        font-size: 12px;
        text-align: center;
        margin-top: 35px;
    }
    h1{
        font-size: 45px;
        text-align: center;
        
    }
    .footer_tale i{
        font-size: 14px;
    }
    li a{
        font-size: 10px;
    }
    .footer_tale h6{
        font-size: 10px;
    }
    p{
        font-size: 12px;
    }
    .appointment_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .activity_img img{
        display: none;
    }
    .activity_bar{
        justify-content: center;
        margin: 50px 0px 50px 0px;
    }
    .brands{
        display: none;
    }
    .brands img{
        width: 90px;
        height: 40px;
    }
   
    .pricing_row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mail_form{
        width: 400px;
    }
   
 
    .company_info{
        justify-content: space-evenly               ;
    }
    .filled_button,.transperent_button{
        min-width: 100px;
        font-size: 12px;
        height:     40px;
    }
    .company_details{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        align-items: baseline;
    } 
    .navbar_list ul li a {
        padding: 3px 0px 3px 8px;
    }   


}
@media only screen and (max-width: 720px){
   
   
    .sale_textbar{
        width: 225px;
    }
    .section_column{
        width: 275px;
    }
    .section_column img{
        width: 275px;
    }
    .like_bar{
        top: 180px;
    }
    .appointment_column{
        max-width: 250px;
    }
    .pricing_column{
        max-width: 286px;
    }
    
}

@media only screen and (max-width: 590px){


    .company_details{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    align-items: baseline;
    }
    .company_info ul{
        gap: 0px;
    }
    .client_row{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: baseline;
    }
    .component_img img{
        display: none;
    }
    .main_component{
        margin: 50px 0px;
    }
    .mail_form{
        width: 300px;
    }
    .sale_textbar{
        width: 280px;
    }
    .section_column{
        width: 350px;
    }
    .section_column img{
        width: 350px;
    }
    .like_bar{
        top: 225px;
    }
    .appointment_column{
        max-width: 350px;
    }
    .pricing_column{
        max-width: 337px;
    }
    .footer_tale h6 {
        font-size: 8px;
    }
    .footer_tale i{
        font-size: 12px;
    }
    .footer_tale{
        padding: 15px 0px 10px 0px;
    }

}
@media only screen and (max-width: 420px){
    .mail_form{
        width: 200px;
    }
    .like_bar{
        top: 210px;
    }
    .section_column{
        max-width: 300px;
    }
    .section_column img{
        max-width: 300px;
    }
    .pricing_column{
        max-width: 290px;
    }
    .circle_margin{
        left: 190px;
    }
    .title_section h2{
        font-size: 30px;
        align-items: center;   
        text-align: center;

    }
    .title_section{
        align-items: center;
        text-align: center;
    }
    
}
